.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: greenyellow;
}

.btn-click{
    border: 1px solid black;
    padding: 20px 40px;
    background-color: antiquewhite;
    font-size: 20px;
    font-weight: 600;
}